* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #cbb6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

.container {
  display: flex;
  background: white;
  width: 1050px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-section {
  width: 50%;
  background-color: #f8e4c9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.image-section img {
  width: 80%;
}

.form-section {
  width: 50%;
  padding: 40px;
}

h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #333;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.input-group input {
  width: 47.5%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group input:focus {
  outline: none;
  border: 1px solid #7d3cff;
}

.gender-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.gender-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.gender-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: #333;
}

.gender-group label {
    font-size: 14px; 
}

button {
  width: 100%;
  background-color: #7d3cff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  letter-spacing: 0.1rem;
}

button:active {
    letter-spacing: 0.1rem;
}